<div class="row">
  <div class="col-sm-12 text-center">
    <h4>Status: {{status}}</h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 text-left">

    <ul>
      <li class="row list-inline item-title">
        <span>Amt</span>
        <span>Name</span>
        <span>Price</span>
      </li>

      <li class="row list-inline items-row" ng-repeat="item in items">

        <input type="number"
               class="itemAmt"
               value="{{item.amount}}"
               ng-model="item.amount"/>

        <span class="itemName">
          {{item.name}}
        </span>

        <button class="btn btn-primary btn-sm btn-cart"
                ng-click="addToCart(item);isItemAdded = !isItemAdded"
                ng-show="!isItemAdded">
          Add
        </button>

        <button class="btn btn-primary btn-sm btn-cart"
                ng-click="updateCartItem(item)"
                ng-hide="!isItemAdded">
          Update
        </button>

        <span class="itemPrice">
          ${{item.price}}
        </span>
      </li>
    </ul>

  </div>
</div>

<div class="row">
  <div class="col-sm-12 text-left">

    <h4 class="text-center">Shopping Cart</h4>

    <ul>

      <li class="row list-inline items-row" ng-repeat="cartItem in cartItems">
        <span class="itemAmt">
          {{cartItem.amount}}
        </span>

        <span class="itemName">
          {{cartItem.name}}
        </span>

        <button class="btn btn-danger btn-sm btn-cart-remove"
                ng-click="removeCartItem($index)">
          Remove
        </button>

        <span class="itemPrice">
          ${{cartItem.totalprice}}
        </span>
      </li>
    </ul>

  </div>
</div>

<div class="row">
  <div class="col-sm-12 text-center">
    <button class="btn btn-danger"
            ng-click="clearCartItems()">
      Clear Cart
    </button>

    <!--<button class="btn btn-danger" ng-click="log()">Log</button>-->
  </div>
</div>
