<div class="jumbotron">
  <h1>Hello!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Shopping Cart App created with Angular with help from Yeoman!
  </p>
</div>

<div class="row marketing">
  <h3>Angular Shopping Cart</h3>

  <p>CRUD app created in Angular with Yeoman and BootStrap</p>

  <p>Allows you to add from an existing item to your shopping cart and updates your total for the item.</p>

  <h4>WIP:</h4>
  <ul>
    <li>Update item amount</li>
    <li>Unique ID for your cart</li>
    <li>Actions denied if shop is closed</li>
    <li>Actions oeprated through mock API</li>
    <li>Add your own products</li>
  </ul>

  <p>Github: <a href="https://github.com/Roilan/ShoppingCart" target="_blank">Here</a></p>

</div>
